In [1]:
import pandas as pd

In [9]:
# 01 - Carregue o CSV em um dataframe e visualize os dados imprimindo as 5 primeiras linhas do dataframe
df = pd.read_csv('venda-de-carros-formatado.csv')  
print(df)
print("Primeiras 5 linhas do dataframe:")
print(df.head())

  Fabricante       Cor  Quilometragem  Portas     Preco
0     Toyota    Branco         150043       4   24000.0
1      Honda  Vermelho          87899       4   25000.0
2     Toyota      Azul          32549       3   27000.0
3        BMW     Preto          11179       5  122000.0
4     Nissan    Branco         213095       4   13500.0
5     Toyota     Verde          99213       4   14500.0
6      Honda      Azul          45698       4   17500.0
7      Honda      Azul          54738       4   27000.0
8     Toyota    Branco          60000       4   26250.0
9     Nissan    Branco          31600       4   19700.0
Primeiras 5 linhas do dataframe:
  Fabricante       Cor  Quilometragem  Portas     Preco
0     Toyota    Branco         150043       4   24000.0
1      Honda  Vermelho          87899       4   25000.0
2     Toyota      Azul          32549       3   27000.0
3        BMW     Preto          11179       5  122000.0
4     Nissan    Branco         213095       4   13500.0

In [5]:
# 02 - Obtenha o nome de todas as colunas do dataframe
print("\nNomes das colunas:")
print(df.columns)

Nomes das colunas:
Index(['Fabricante', 'Cor', 'Quilometragem', 'Portas', 'Preco'], dtype='object')

In [7]:
# 03 - Exiba as informações estatísticas sobre os dados
print("\nInformações estatísticas:")
print(df.describe())

Informações estatísticas:
       Quilometragem     Portas         Preco
count      10.000000  10.000000      10.00000
mean    78601.400000   4.000000   31645.00000
std     61983.471735   0.471405   32153.87008
min     11179.000000   3.000000   13500.00000
25%     35836.250000   4.000000   18050.00000
50%     57369.000000   4.000000   24500.00000
75%     96384.500000   4.000000   26812.50000
max    213095.000000   5.000000  122000.00000

In [8]:
# 04 - Verifique as entradas válidas e remova linhas com dados faltantes (NaN)
df = df.dropna()
print("\nDataframe após remoção de dados faltantes (NaN):")
print(df.head())

Dataframe após remoção de dados faltantes (NaN):
  Fabricante       Cor  Quilometragem  Portas     Preco
0     Toyota    Branco         150043       4   24000.0
1      Honda  Vermelho          87899       4   25000.0
2     Toyota      Azul          32549       3   27000.0
3        BMW     Preto          11179       5  122000.0
4     Nissan    Branco         213095       4   13500.0

In [22]:
# 05 - Ajuste as colunas para que contenham o tipo correto (e.g., preço = float)
# Supondo que a coluna de preço seja do tipo string e precisa ser convertida para float
# Substitua 'preco' pelo nome da coluna de preço do seu dataframe
df['preco'] = df['Preco'].replace('[\$,]', '', regex=True).astype(float)
print("\nTipo da coluna 'preco' após conversão:")
print(df['Preco'].dtype)

Tipo da coluna 'preco' após conversão:
float64

<>:4: SyntaxWarning: invalid escape sequence '\$'
<>:4: SyntaxWarning: invalid escape sequence '\$'
C:\Users\vrmsb\AppData\Local\Temp\ipykernel_23940\2956283268.py:4: SyntaxWarning: invalid escape sequence '\$'
  df['preco'] = df['Preco'].replace('[\$,]', '', regex=True).astype(float)

In [21]:
# 06 - Obtenha um dataframe que contenha apenas carros com 4 portas
# Substitua 'portas' pelo nome da coluna que indica o número de portas
df_4_portas = df[df['Portas'] == 4]
print("\nDataframe com carros de 4 portas:")
print(df_4_portas.head())

Dataframe com carros de 4 portas:
  Fabricante       Cor  Quilometragem  Portas    Preco
0     Toyota    Branco         150043       4  24000.0
1      Honda  Vermelho          87899       4  25000.0
4     Nissan    Branco         213095       4  13500.0
5     Toyota     Verde          99213       4  14500.0
6      Honda      Azul          45698       4  17500.0

In [26]:
# 07 - Imprima o tamanho do dataframe
print("Tamanho do dataframe com carros de 4 portas:")
print(df_4_portas.shape)

Tamanho do dataframe com carros de 4 portas:
(8, 5)

In [25]:
# 08 - Obtenha o item da segunda linha
print("Item da segunda linha:")
print(df.iloc[1])

Item da segunda linha:
Fabricante          Honda
Cor              Vermelho
Quilometragem       87899
Portas                  4
Preco             25000.0
preco             25000.0
Name: 1, dtype: object

In [24]:
# 09 - Obtenha a média das quilometragens existentes no conjunto
# Substitua 'quilometragem' pelo nome da coluna que contém os valores de quilometragem
media_quilometragem = df['Quilometragem'].mean()
print("Média das quilometragens:")
print(media_quilometragem)

Média das quilometragens:
78601.4